@media (max-width: 1230px) {
    .nav_list {
        display: none;
    }
    .nav-button {
        display: block;
    }
    .nav.open .nav_list {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        opacity: 0.9;
        z-index: 1;
        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        font-size: 34px;
        font-weight: 500;
    }
    .nav-button {
        position: fixed;
        z-index: 9;
        top: 30px;
        right: 850px;
    }
}

@media (max-width: 767px) {
    header {
        height: 707px;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    .rightSection{
        display: flex;
        flex-direction: column;
        width: 315px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 30px;
    }
    .rightSection h1 {
        font-size: 34px;
    }
    .rightSection .design_text {
        font-size: 28px;
    }
    .Kelvin {
        width: 307px;
        height: 91px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .rightSection p {
        width: 315px;
        height: 84px;
    }
    .leftSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 296px;
        height: 367px;
        margin-left: 40px;
    }
    .leftSection img{
        width: 296px;
        height: 367px;
    }
    .blocks {
        display: flex;
        flex-direction: column;
        height: 804px;
        width: 315px;
        margin-left: 30px;
    }
    .Design,
    .Dev,
    .Testing {
        display: flex;
        flex-direction: column;
        width: 315px;
        height: 228px;
    }
    .Design p,
    .Dev p,
    .Testing p {
        width: 315px;
    }
    .portfolio {
        display: flex;
        flex-direction: column;
    }
    .portfolio h1 {
        width: 144px;
        height: 51px;
        margin-left: 116px;
    }
    .fashion-store img,
    .reebok img,
    .Braun img {
        width: 315px;
        height: 170px;
    }
    .container {
        width: 375px;
    }
    .portfolio h1 {
        margin-right: 116px;
    }
}